<div>
    <button type="button"><a href="/compose" style="text-decoration: none;">compose new blog</a></button>
    <button type="button"><a href="/compose" style="text-decoration: none;">Contact</a></button>
    <button type="button"><a href="/compose" style="text-decoration: none;">About</a></button>
    <button type="button"><a href="/compose" style="text-decoration: none;">compose new blog</a></button>
</div>